/* General page styles */
.page {
    height: 100vh;
    padding-top: 96px;
    padding-left: 20px;
    padding-right: 20px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s;
}

/* Individual page background colors */
.home {
    background-color: #d9edbf; /* Light green */
}

.about {
    background-color: #fdffab; /* Light yellow */
}

.skills {
    background-color: #ffb996; /* Peach */
}

.education {
    background-color: #ffcf81; /* Light orange */
}

.experience {
    background-color: #add8e6; /* Light blue */
}

.projects {
    background-color: #b19cd9; /* Light purple */
}

/* Transition and decoration styles */
.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
